<div class="row">
  <div class="col-sm-12">
    <h1>Listing items</h1>

    <% if @items.blank? %>
      <%= render :partial => 'shared/empty' %>
    <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Event</th>
          <th>Date</th>
          <th>Duration</th>
          <th>Answer</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.event.person.first_name %> <%= item.event.person.last_name %>, <%=l item.event.created_at %></td>
            <td><%=l item.created_at %></td>
            <td><%= item.duration/1000 %> sec</td>
            <td style="padding-left: 25px;">
              <% if item.answer? %>
                <span class="glyphicon glyphicon-ok" style="color: green;"></span>
              <% else %>
                <span class="glyphicon glyphicon-remove" style="color: red;"></span>
              <% end %>
            </td>
            <td>
              <%= link_to item do %>
                <span class="glyphicon glyphicon-info-sign" rel="tooltip" title="Show"></span>
              <% end %>
            </td>
            <td>
              <%= link_to edit_item_path(item) do %>
                <span class="glyphicon glyphicon-pencil" rel="tooltip" title="Edit"></span>
              <% end %>
            </td>
            <td>
              <%= link_to item, method: :delete, data: { confirm: 'Are you sure?' }  do %>
                <span class="glyphicon glyphicon-trash" rel="tooltip" title="Remove"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="pagination-holder">
      <%= will_paginate @items, :renderer => BootstrapPagination::Rails %>
    </div>
    <% end %>

    <br>

    <%= link_to 'New Item', new_item_path, :class => 'btn btn-primary' %>

  </div>
</div>
