<!DOCTYPE html>
<html lang="en" class="lammaspeli <%= controller_name %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Brain Farmer</title>

    <script type="text/javascript" src="//www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {packages:["corechart"]});
    </script>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>

    <script>
      var Himmeli = <%= raw(@person.to_json) %>
      Himmeli.levelHighscores = <%= raw(@person.level_highscores.to_json) %>
      Himmeli.settings = <%= raw(@person.setting.to_json) %>
    </script>

    <%= javascript_include_tag "application" %>
    <script src="/assets/brainfarmer.min.js"></script>
  </body>
</html>