<!DOCTYPE html>
<html lang="en" class="lammaspeli <%= controller_name %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Brain Farmer</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>
  <style type="text/css">
    form {
      display: none; }
  /*  .stats {
      z-index: 9000;
      background: #fff;
      width: 100%;
      padding: 20px;
      overflow: scroll;
      display: none; }
    .content {
      overflow: scroll; }
    .close-btn {
      position: absolute;
      right: 40px;
      top: 40px; }*/
  </style>
  <body>
    <%= yield %>

    <script>
      var Himmeli = <%= raw(@person.to_json) %>
      Himmeli.levelHighscores = <%= raw(@person.level_highscores.to_json) %>
    </script>
    <%= javascript_include_tag "application" %>
    <script src="/assets/brainfarmer.min.js"></script>
  </body>
</html>