<div class="row">
  <div class="col-sm-12">
    <h1>Listing events</h1>

    <% if @events.blank? %>
      <%= render :partial => 'shared/empty' %>
    <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Person</th>
          <th>Date</th>
          <th>Duration</th>
          <th>Level</th>
          <th>Scores</th>
          <th>Aborted</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= event.person.first_name %> <%= event.person.last_name %></td>
            <td><%=l event.created_at %></td>
            <td><%= distance_of_time_in_words(event.duration/1000) %></td>
            <td><%= event.level %></td>
            <td><%= event.scores %></td>
            <td>
              <% if event.aborted? %>
                Yes
              <% else %>
                No
              <% end %>
            </td>
            <td>
              <%= link_to event  do %>
                <span class="glyphicon glyphicon-info-sign" rel="tooltip" title="Show"></span>
              <% end %>
            </td>
            <td>
              <%= link_to edit_event_path(event) do %>
                <span class="glyphicon glyphicon-pencil" rel="tooltip" title="Edit"></span>
              <% end %>
            </td>
            <td>
              <%= link_to event, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-trash" rel="tooltip" title="Remove"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="pagination-holder">
      <%= will_paginate @events, :renderer => BootstrapPagination::Rails %>
    </div>
    <% end %>

    <br>

    <%= link_to 'New Event', new_event_path, :class => 'btn btn-primary' %>

  </div>
</div>

