<div class="row">
  <div class="col-sm-12">
    <h1>Listing people</h1>

    <% if @people.blank? %>
      <%= render :partial => 'shared/empty' %>
    <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Person</th>
          <th>Total Scores</th>
          <th>Avg. Scores</th>
          <th>Avg. Duration</th>
          <th>Level</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @people.each do |person| %>
          <tr>
            <td><%= person.first_name %> <%= person.last_name %></td>
            <td><%= person.events.sum('scores') %></td>
            <td><% unless person.events.empty? %><%= person.events.average('scores').floor %><% end %></td>
            <td><% unless person.events.empty? %><%= (person.events.average('duration').floor/1000)/60 %> min<% end %></td>
            <td><%= person.level %></td>
            <td>
              <%= link_to person do %>
                <span class="glyphicon glyphicon-info-sign" rel="tooltip" title="Show"></span>
              <% end %>
            </td>
            <td><%= link_to edit_person_path(person) do %>
                <span class="glyphicon glyphicon-pencil" rel="tooltip" title="Edit"></span>
              <% end %>
            </td>
            <td><%= link_to person, method: :delete, data: { confirm: 'Are you sure?' }  do %>
                <span class="glyphicon glyphicon-trash" rel="tooltip" title="Remove"></span>
              <% end %>
            </td>
            <td><a href="/game/<%= person.id %>"><span class="glyphicon glyphicon-play" rel="tooltip" title="Play as <%= person.first_name %>"></span></a></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="pagination-holder">
      <%= will_paginate @people, :renderer => BootstrapPagination::Rails %>
    </div>
    <% end %>

    <br>

    <%= link_to 'New Person', new_person_path, :class => 'btn btn-primary' %>

  </div>
</div>


