<div class="row">
  <div class="col-sm-12">
    <h1>Person</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Person</th>
          <th>Total Scores</th>
          <th>Avg. Scores</th>
          <th>Avg. Duration</th>
          <th>Level</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @person.first_name %> <%= @person.last_name %></td>
          <td><%= @person.events.sum('scores') %></td>
          <td><% unless @person.events.empty? %><%= @person.events.average('scores').floor %><% end %></td>
            <td><% unless @person.events.empty? %><%= @person.events.average('duration').floor %><% end %></td>
          <td><%= @person.level %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row hidden-print">
  <div class="col-sm-12">
    <h2>Developmental Characteristics</h2>
    <ul class="nav nav-pills scores-chart-pills">
      <li class="active"><a href="" data-level="1">Level 1</a></li>
      <li><a href="#" data-level="2">Level 2</a></li>
      <li><a href="#" data-level="3">Level 3</a></li>
      <li><a href="#" data-level="4">Level 4</a></li>
      <li><a href="#" data-level="5">Level 5</a></li>
      <li><a href="#" data-level="6">Level 6</a></li>
    </ul>
  </div>
</div>

<div class="row hidden-print">
  <div class="col-sm-12">
    <h3>Scores per Event</h3>
    <canvas id="scoresPerEventChart" width="738" height="400"></canvas>
  </div>
</div>

<div class="row hidden-print">
  <div class="col-sm-12">
    <h3>Median reply time</h3>
    <canvas id="medianReplyTimesChart" width="738" height="400"></canvas>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h2 class="hidden-print">ID Card</h2>
    <div class="card">
      <h2><%= @person.first_name %> <%= @person.last_name %></h2>
      <div class="qrcode">
        <% link = "http://himmeli.pori.tut.fi/game/" + @person.id.to_s %>
        <%= link_to link, :target => "_blank" do %>
        <img src="https://chart.googleapis.com/chart?cht=qr&chs=250x250&chl=<%= link %>" />
        <% end %>
      </div>
    </div>

    <%= link_to 'Edit Person', edit_person_path(@person), :class => 'btn btn-primary hidden-print' %>
    <%= link_to 'Back', people_path, :class => 'btn btn-default hidden-print' %>
  </div>
</div>