<div class="row">
  <div class="col-sm-12">
    <h1>Person</h1>
    <table class="table">
      <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Scores</th>
          <th>Level</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @person.first_name %></td>
          <td><%= @person.last_name %></td>
          <td><%= @person.scores %></td>
          <td><%= @person.level %></td>
        </tr>
      </tbody>
    </table>

    <div class="card">
      <h2><%= @person.first_name %> <%= @person.last_name %></h2>
      <div class="qrcode">
        <% link = "http://himmeli.pori.tut.fi/game?p=" + @person.id.to_s %>
        <%= link_to link, :target => "_blank" do %>
        <img src="https://chart.googleapis.com/chart?cht=qr&chs=250x250&chl=<%= link %>" />
        <% end %>
      </div>
    </div>

    <%= link_to 'Edit Person', edit_person_path(@person), :class => 'btn btn-primary hidden-print' %>
    <%= link_to 'Back', people_path, :class => 'btn btn-default hidden-print' %>

  </div>
</div>