<div class="row person-details">
  <div class="col-sm-12">
    <h1>Person</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Person</th>
          <th>Total Scores</th>
          <th>Avg. Scores</th>
          <th>Total Duration</th>
          <th>Level</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @person.first_name %> <%= @person.last_name %></td>
          <td><%= @person.events.sum('scores') %></td>
          <td><% unless @person.events.empty? %><%= @person.events.average('scores').floor %><% end %></td>
            <td><% unless @person.events.empty? %><%= distance_of_time_in_words(@person.events.sum('duration')/1000) %><% end %></td>
          <td><%= @person.level %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row hidden-print">
  <div class="col-sm-12">
    <h2>Developmental Characteristics</h2>
    <ul class="nav nav-pills chart-pills"></ul>
  </div>
</div>

<div class="row hidden-print">
  <div class="col-sm-12">
    <h3>Scores per Event</h3>
    <div id="scoresPerEventChart" style="width: 738px; height: 400px;"></div>
  </div>
</div>

<div class="row hidden-print">
  <div class="col-sm-12">
    <h3>Median reply time (in sec)</h3>
    <div id="medianReplyTimesChart" style="width: 738px; height: 400px;"></div>
  </div>
</div>

<div class="row hidden-print">
  <div class="col-sm-12">
    <h1>Person events</h1>

    <% if @person.events.blank? %>
      <%= render :partial => 'shared/empty' %>
    <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Duration</th>
          <th>Level</th>
          <th>Scores</th>
          <th style="width: 20%;">Aborted</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @person.events.each do |event| %>
          <tr>
            <td><%=l event.created_at %></td>
            <td><%= distance_of_time_in_words(event.duration/1000) %></td>
            <td><%= event.level %></td>
            <td><%= event.scores %></td>
            <td>
              <% if event.aborted? %>
                Yes
              <% else %>
                No
              <% end %>
            </td>
            <td>
              <%= link_to event  do %>
                <span class="glyphicon glyphicon-info-sign" rel="tooltip" title="Show"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h2 class="hidden-print">ID Card</h2>
    <div class="card">
      <h2><%= @person.first_name %> <%= @person.last_name %></h2>
      <div class="qrcode">
        <% link = "http://himmeli.pori.tut.fi/game/" + @person.id.to_s %>
        <img src="https://chart.googleapis.com/chart?cht=qr&chs=250x250&chl=<%= link %>" />
      </div>
    </div>

    <%= link_to 'Edit Person', edit_person_path(@person), :class => 'btn btn-primary hidden-print' %>
    <%= link_to 'Back', people_path, :class => 'btn btn-default hidden-print' %>
  </div>
</div>
