<div class="row">
  <div class="col-sm-12">
    <h1>Listing settings</h1>

    <% if @settings.blank? %>
      <%= render :partial => 'shared/empty' %>
    <% else %>
    <table class="table table-striped">

      <thead>
        <tr>
          <th>Person</th>
          <th>Key</th>
          <th>Value</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @settings.each do |setting| %>
          <tr>
            <td><%= setting.person.first_name %> <%= setting.person.last_name %></td>
            <td><%= setting.key %></td>
            <td><%= setting.value %></td>
            <td>
              <%= link_to setting do %>
                <span class="glyphicon glyphicon-info-sign" rel="tooltip" title="Show"></span>
              <% end %>
            </td>
            <td>
              <%= link_to edit_setting_path(setting) do %>
                <span class="glyphicon glyphicon-pencil" rel="tooltip" title="Edit"></span>
              <% end %>
            </td>
            <td>
              <%= link_to setting, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-trash" rel="tooltip" title="Remove"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="pagination-holder">
      <%= will_paginate @settings, :renderer => BootstrapPagination::Rails %>
    </div>
    <% end %>

    <br>

    <%= link_to 'New Setting', new_setting_path, :class => 'btn btn-primary' %>

  </div>
</div>
