<div class="row">
  <div class="col-sm-12">
    <h1>Setting</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Person</th>
          <th>Key</th>
          <th>Value</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><%= @setting.person.first_name %> <%= @setting.person.last_name %></td>
          <td><%= @setting.key %></td>
          <td><%= @setting.value %></td>
        </tr>
      </tbody>
    </table>

    <br>

    <%= link_to 'Edit Setting', edit_setting_path(@setting), :class => 'btn btn-primary' %>
    <%= link_to 'Back', settings_path, :class => 'btn btn-default' %>

  </div>
</div>
